name: Build Ambika APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22' # This fixes the Capacitor CLI error

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Capacitor Sync
        run: npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Ambika-Captain-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk